<!-- Menu / Order Page -->
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card white">
                <div class="card-content black-text">
                    <span class="card-title">Welcome!</span>
                    <div id="profile">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s6">
            <div class="card white">
                <div class="card-content black-text">
                    <span class="card-title">Order History</span>
                    <div id="history">
                        <table>
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Description</th>
                                    <th>Type</th>
                                    <th>Size</th>
                                    <th>Price</th>
                                    <th>Qty</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each history}}
                                <tr>
                                    <td>{{this.order}}</td>
                                    <td>{{this.description}}</td>
                                    <td>{{this.size}}</td>
                                    <td>{{this.price}}</td>
                                    <td>{{this.qty}}</td>
                                    <td><i class="small material-icons">add_box</i></td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card white">
                <div class="card-content black-text">
                    <span class="card-title">Menu</span>
                    <div id="menu">


                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Size</th>
                                    <th>Price</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>Mocha</td>
                                    <td>Small</td>
                                    <td>3.25</td>
                                    <td><i class="small material-icons">add_box</i></td>
                                </tr>
                                <tr>
                                    <td>Mocha</td>
                                    <td>Large</td>
                                    <td>4.00</td>
                                    <td><i class="small material-icons">add_box</i></td>
                                </tr>
                                <tr>
                                    <td>Hot Chocolate</td>
                                    <td>Small</td>
                                    <td>2.00</td>
                                    <td><i class="small material-icons">add_box</i></td>
                                </tr>
                                <tr>
                                    <td>Hot Chocolate</td>
                                    <td>Large</td>
                                    <td>2.30</td>
                                    <td><i class="small material-icons">add_box</i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <p>Data pulled from Products table (pid)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card white">
                <div class="card-content black-text">
                    <span class="card-title">Cart</span>
                    <div id="cart">
                        <table>
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Product</th>
                                    <th>Size</th>
                                    <th>Price</th>
                                    <th>Qty</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Mocha</td>
                                    <td>Small</td>
                                    <td>3.25</td>
                                    <td>1</td>
                                    <td><i class="small material-icons">clear</i></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Mocha</td>
                                    <td>large</td>
                                    <td>4.00</td>
                                    <td>1</td>
                                    <td><i class="small material-icons">clear</i></td>
                                </tr>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <p><a class="brown darken-4 btn-small">Submit Order <i
                                class="material-icons right">add_shopping_cart</i></a></p>

                    <p>Data pulled from Cart Array. If nothing in array, display "Please Add to Cart"</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container"></div>
<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Materialize JavaScript-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- Team JavaScript -->
<script src="/assets/js/drinks.js"></script>