

<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card white">
                <div class="card-content">
                    <div>
                        <h3>Coffee Express</h3>
                        <span><a href="./employee">
                                <h5 class="black-text darken-4 right-align">Employees</h5>
                            </a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card white">
                <div class="card-content text-brown darken-4">
                    <span class="card-title">Products</span>
                    <div id="customers">
                        <table class="responsive-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Description</th>
                                    <th>Type</th>
                                    <th></th>
                                    <th>Size</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each products}}
                                <tr>
                                    <td>{{this.id}}</td>
                                    <td>{{this.prod_name}}</td>
                                    <td>{{this.type}}</td>
                                    <td>{{this.temp}}</td>
                                    <td>{{this.size}}</td>
                                    <td>{{this.price}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container"></div>
<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Materialize JavaScript-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- Team JavaScript -->
<script src="/assets/js/drinks.js"></script>