<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card white">
                <div class="card-content">
                    <div>
                        <h3>Coffee Express</h3>
                        <span><a href="./employee">
                                <h5 class="black-text darken-4 right-align">Employees</h5>
                            </a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card white">
                <div class="card-content text-brown darken-4">
                    <span class="card-title">Spotify Requests</span>
                    <div id="customers">
                        <table class="responsive-table">
                            <thead>
                                <tr>
                                    <th>Song</th>
                                    <th>Artist</th>
                                    <th>URL</th>
                                    <th>Requested</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each songs}}
                                <tr>
                                    <td>{{this.song_name}}</td>
                                    <td>{{this.artist}}</td>
                                    {{#if this.song_url}}
                                    <td><a href={{this.song_url}} target="_blank">Play Song</a></td>

                                    {{else}}
                                    <td>No link available</td>
                                    {{/if}}
                                    <td>{{this.requested}}</td>
                                    <td>{{this.status}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container"></div>
<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Materialize JavaScript-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- Team JavaScript -->
<script src="/assets/js/drinks.js"></script>