
        {{#each drinks}}
        <tr>
            <td>1{{order}}</td>
            <td>1{{item}}</td>
            <td>1{{description}}</td>
            <td>1{{size}}</td>
            <td>1{{price}}</td>
            <td>1{{qty}}</td>
            <td>1<i class="small material-icons">add_box</i></td>
        </tr>
        {{/each}}
