<table>
    <thead>
        <tr>
            <th>Order #</th>
            <th>Item</th>
            <th>Description</th>
            <th>Type</th>
            <th>Size</th>
            <th>Price</th>
            <th>Qty</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each drinks}}
        <tr>
            <td>{{order}}</td>
            <td>{{item}}</td>
            <td>{{description}}</td>
            <td>{{size}}</td>
            <td>{{price}}</td>
            <td>{{qty}}</td>
            <td><i class="small material-icons">add_box</i></td>
        </tr>
        {{/each}}
    </tbody>
</table>