<td>{{this.pid}}</td>
<td>{{this.prod_name}}</td>
<td>{{this.size}}</td>
<td class="right-align">{{this.price}}</td>
<td>{{this.type}}</td>
<td>{{this.temp}}</td>
<td><button class='btn-flat atc' type="submit" id='{{this.pid}}'><i class="small material-icons">add_box</i></button></td>