{{#each drinks}}
<tr>
    <td>{{order}}</td>
    <td>{{item}}</td>
    <td>{{description}}</td>
    <td>{{size}}</td>
    <td>{{price}}</td>
    <td>{{qty}}</td>
    <td><i class="small material-icons">add_box</i></td>
</tr>
{{/each}}