<div class="container text-brown darken-4">
  {{!-- <span class="card-title">Drink Menu (Hot)</span> --}}
  <h4>Hot Menu</h4>
  <div id="menu">
    <table>
      <thead>
        <tr>
          {{!-- <th>Id</th> --}}
          <th>Product</th>
          <th>Size</th>
          <th>Price</th>
          {{!-- <th></th> --}}
        </tr>
      </thead>

      <tbody>
        {{#each products}}
        <tr>
          {{#if check_hot}}
          {{!-- <td>{{this.pid}}</td> --}}
          <td>{{this.prod_name}}</td>
          <td>{{this.size}}</td>
          <td>{{this.price}}</td>
          <td><button class='btn-flat atcm' type="submit" id='{{this.pid}}'><i
                class="small material-icons">add_box</i></button></td>
          {{/if}}
          {{/each}}
        </tr>
      </tbody>
    </table>
  </div>
</div>